Import things like pandas numpy and matplotlib

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
ls

env/                                    nuclear_weapons_proliferation_owid.csv
main.ipynb

In [3]:
mainDataFrame = pd.read_csv("nuclear_weapons_proliferation_owid.csv")

In [10]:
mainDataFrame[mainDataFrame.country_name == "United States"]

,country_name,year,nuclear_weapons_status,nuclear_weapons_consideration,nuclear_weapons_pursuit,nuclear_weapons_possession
16081,United States,1938,0,0,0,0
16082,United States,1939,1,1,0,0
16083,United States,1940,1,1,0,0
16084,United States,1941,1,1,0,0
16085,United States,1942,2,0,1,0
...,...,...,...,...,...,...
16161,United States,2018,3,0,0,1
16162,United States,2019,3,0,0,1
16163,United States,2020,3,0,0,1
16164,United States,2021,3,0,0,1
16165,United States,2022,3,0,0,1

In [5]:
len(mainDataFrame)

16848

### Number of Rows is 16,848

### Number of U.S Rows = 85

In [11]:
mainDataFrame[mainDataFrame.country_name == "Russia"]

,country_name,year,nuclear_weapons_status,nuclear_weapons_consideration,nuclear_weapons_pursuit,nuclear_weapons_possession
12049,Russia,1938,0,0,0,0
12050,Russia,1939,0,0,0,0
12051,Russia,1940,0,0,0,0
12052,Russia,1941,0,0,0,0
12053,Russia,1942,1,1,0,0
...,...,...,...,...,...,...
12129,Russia,2018,3,0,0,1
12130,Russia,2019,3,0,0,1
12131,Russia,2020,3,0,0,1
12132,Russia,2021,3,0,0,1
12133,Russia,2022,3,0,0,1

### Number of Russia Rows = 85

In [12]:
mainDataFrame.dtypes

country_name                     object
year                              int64
nuclear_weapons_status            int64
nuclear_weapons_consideration     int64
nuclear_weapons_pursuit           int64
nuclear_weapons_possession        int64
dtype: object

In [13]:
USDataFrame = mainDataFrame[mainDataFrame.country_name == "United States"]

In [14]:
RussiaDataFrame = mainDataFrame[mainDataFrame.country_name == "Russia"]

### Average weapon Status:

In [15]:
USAverageWeaponStatus = USDataFrame["nuclear_weapons_status"].mean()

In [16]:
USAverageWeaponStatus

2.8588235294117648

In [17]:
RussiaAverageWeaponStatus = RussiaDataFrame["nuclear_weapons_status"].mean()

In [18]:
RussiaAverageWeaponStatus

2.764705882352941

### Average weapon possesion

In [19]:
USAverageWeaponPossesion = USDataFrame["nuclear_weapons_possession"].mean()

In [20]:
USAverageWeaponPossesion

0.9176470588235294

In [22]:
RussiaAverageWeaponPossesion = RussiaDataFrame["nuclear_weapons_possession"].mean()

In [23]:
RussiaAverageWeaponPossesion

0.8705882352941177

In [41]:
countriesGrouped = mainDataFrame.groupby("country_name").mean()

In [25]:
len(countriesGrouped)

202

In [29]:
#countriesGrouped[countriesGrouped.country_name == "United States"]

In [45]:
type(countriesGrouped)

pandas.core.frame.DataFrame